<div class="col-lg-8 mx-auto">
  <div *ngIf="page === 1">
    <h1>Create seating plan</h1>
    <p *ngIf="location">
      for
      <strong>{{ location.name }}</strong>&nbsp;in&nbsp;<strong>{{ location.address.zipCode }} {{ location.address.city }}
      , {{ location.address.street }} {{ location.address.houseNumber }} </strong>
    </p>
    <div class="mb-3">
      <label class="form-label text-muted" for="name">Name*</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="seatingPlanName"
             aria-describedby="desc-name" placeholder="Input name"/>
    </div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mb-3">
      <ngb-panel *ngFor="let sector of sectors; index as index">
        <ng-template ngbPanelTitle class="d-flex">
          <div class="fw-bold" style="color:{{ sector.color }}">
            <span>{{index}}:&nbsp; </span>
            <span
                *ngIf="sector.standingSector">
              Standing&nbsp;sector (capacity: {{ sector.seatCount }}) </span>
            <span *ngIf="!sector.standingSector">
              Seating&nbsp;sector (capacity: {{ sector.seatCount }}) </span>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div>
            <div class="d-flex">
              <div class="mb-3 me-3">
                <label class="form-label text-muted" for="input-color">Color</label>
                <input type="color" class="form-control form-control-color"
                       [(ngModel)]="sector.color"
                       id="input-color"/>
              </div>
              <div class="mb-3 text-muted">
                <label class="form-label" for="input-seats">Capacity*</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="sector.seatCount"
                       id="input-seats" oninput="validity.valid||(value='');" value="0"/>
              </div>
            </div>
            <div class="form-check form-switch">
              <label class="form-check-label">Standing sector</label>
              <input class="form-check-input" type="checkbox" [(ngModel)]="sector.standingSector"/>
            </div>
          </div>
          <div class="text-end">
            <button class="btn-danger btn" (click)="removeSector(index)">Remove</button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <div class="mt-3 d-flex">
      <button class="btn btn-primary me-1" (click)="addSector()">
        <fa-icon [icon]="plus"></fa-icon>
        Add Sector
      </button>
      <button class="btn btn-success ms-auto" [disabled]="seatingPlanName.trim().length===0"
              (click)="nextPage()" *ngIf="page < 2">
        Next Page
      </button>
    </div>

  </div>
  <div *ngIf="page === 2" class="d-flex container-fluid overflow-auto mb-3">
    <div class="me-3" style="min-width: 20%; overflow: auto">
      <h3>Tools</h3>
      <div class="mb-3">
        <div class="mb-3">
          <button class="btn btn-primary me-1" (click)="seatingPlanEditor.selectAllSeats()">
            Select all
          </button>
          <button class="btn btn-danger" (click)="seatingPlanEditor.deselectAllSeats()">
            Remove selection
          </button>
        </div>
        <div class="mb-3 d-flex">
          <select [(ngModel)]="selectedSector" class="form-select me-1">
            <option
                *ngFor="let sector of sectors; index as index"
                value="{{ index }}"
                [hidden]="sector.standingSector"
                [disabled]="sector.standingSector"
            >
              <div style="color: {{ sector.color }}">
                <span *ngIf="sector.standingSector">Standing&nbsp;</span>
                <span>Sector {{ index }}</span>
                <span *ngIf="sector.description">: {{ sector.description }}</span>
              </div>
            </option>
          </select>
          <button
              class="btn btn-primary"
              (click)="seatingPlanEditor.selectSeatInSector(+selectedSector)"
          >
            Select
          </button>
        </div>
        <div>
          <button class="btn btn-primary" (click)="seatingPlanEditor.addStaticArea()">
            Add static area
          </button>
        </div>
      </div>
      <h3>Info</h3>
      <div *ngIf="chosenElement">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4>Location</h4>
            </div>
            <div class="card-text">
              <div class="input-group">
                <span class="input-group-text">x</span>
                <input
                    type="number"
                    [(ngModel)]="chosenElement.data.location.x"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                    class="form-control"
                    id="xLocation"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">y</span>

                <input
                    type="number"
                    [(ngModel)]="chosenElement.data.location.y"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                    class="form-control"
                    id="yLocation"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">width</span>

                <input
                    type="number"
                    [(ngModel)]="chosenElement.data.location.w"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                    class="form-control"
                    id="wLocation"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">height</span>

                <input
                    type="number"
                    [(ngModel)]="chosenElement.data.location.h"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                    class="form-control"
                    id="hLocation"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="chosenElement.type === 'StaticElement'">
          <div class="card-body">
            <div class="card-title">
              <h4>Data</h4>
            </div>
            <div class="card-text">
              <div class="input-group">
                <span class="input-group-text">description</span>
                <input
                    type="text"
                    class="form-control col"
                    [(ngModel)]="chosenElement.data.description"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">color</span>
                <input
                    type="color"
                    class="form-control"
                    [ngModel]="numberToCssColorString(chosenElement.data.color)"
                    (ngModelChange)="
                    chosenElement.data.color = parseColor($event);
                    seatingPlanEditor.initializeSeatingPlan()
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="chosenElement.type === 'SectorWithLocation'">
          <div class="card-body">
            <div class="card-title">
              <h4>Data</h4>
            </div>
            <div class="card-text">
              <div class="input-group">
                <span class="input-group-text">description</span>
                <input
                    type="text"
                    class="form-control col"
                    [(ngModel)]="chosenElement.data.description"
                    (ngModelChange)="seatingPlanEditor.initializeSeatingPlan()"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">color</span>
                <input
                    type="color"
                    class="form-control"
                    [ngModel]="numberToCssColorString(chosenElement.data.color)"
                    (ngModelChange)="
                    chosenElement.data.color = parseColor($event);
                    seatingPlanEditor.syncModelWithGraphics()
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="chosenElement.type === 'Seat'">
          <div class="card-body">
            <div class="card-title">
              <h4>Data</h4>
            </div>
            <div class="card-text">
              <div class="input-group">
                <span class="input-group-text">row</span>
                <input
                    type="number"
                    [(ngModel)]="seatInformation[chosenElement.data.id].rowNumber"
                    class="form-control"
                />
              </div>
              <div class="input-group">
                <span class="input-group-text">seat</span>
                <input
                    type="number"
                    [(ngModel)]="seatInformation[chosenElement.data.id].seatNumber"
                    class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="border border-dark border-2"
        style="max-height: 80vh; max-width: 80%; overflow: auto"
    >
      <app-seating-plan-editor
          [sectors]="sectors"
          (clickElement)="handleChosenElement($event)"
      ></app-seating-plan-editor>
    </div>
  </div>

  <div class="d-flex" style="width: 100%">
    <button class="btn btn-secondary" (click)="previousPage()" *ngIf="page > 1">
      Previous Page
    </button>
    <button class="btn btn-success ms-auto" (click)="finish()" *ngIf="page >= 2">Finish</button>
  </div>
</div>
