<div class="m-3">
  <form>
    <div class="form-group form-inline row">
      <input class="form-control m-3 col" type="text" name="searchTerm" [(ngModel)]="search" placeholder="Search for artists..."
      />
      <button class="btn btn-primary m-3 col-1" (click)="onSearch()">Search</button>
</div>

  </form>

  <div *ngIf ="artists">
  <table  class="table table-striped">
    <thead>
    <tr>

      <th scope="col" >Known As</th>
      <th scope="col" >Band Name</th>
      <th scope="col" >First name</th>
      <th scope="col" >Last name</th>

    </tr>
    </thead>
    <tbody>
    <tr
        *ngFor="let artist of artists " (click)="artistGetEvents(artist,0)">

      <td>
        <div   class="mr-2">{{artist.knownAs}}</div>
      </td>
      <td>{{ artist.bandName}}</td>
      <td>{{ artist.firstName}}</td>
      <td>{{ artist.lastName}}</td>


    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="data?.numberOfResults" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                  [pageSize]="pageSize" class="d-flex justify-content-center" (pageChange)="onPageChange(page)"></ngb-pagination>
<hr *ngIf="eventsOfClickedArtist">
<app-event-search-result  (nextRequestedPage)="handleEventPageEmit($event)" [pageSize]="3"  [artist]="clickedArtist" [events]="eventsOfClickedArtist" *ngIf="eventsOfClickedArtist" ></app-event-search-result>
</div>
</div>
