<form>
  <div class="form-group mb-3">
    <small for="inputname" class="form-label text-muted"> Search for Band Names or Artists</small>
    <input id="inputname" class="form-control" type="text" name="searchTerm" [(ngModel)]="search" />
  </div>
  <button class="btn btn-primary me-1" (click)="onSearch()">Search</button>
  <button type="button" class="btn btn-secondary m-1" (click)="resetAll()">Clear search</button>
</form>
<hr />
<div *ngIf="artists">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of artists" (click)="artistGetEvents(artist, 1)">
        <td>
          <span>{{ artist.bandName }} </span>
          <span>{{ artist.firstName }} </span>
          <span *ngIf="(artist.firstName || artist.lastName) && artist.knownAs"
            >"{{ artist.knownAs }}"
          </span>
          <span *ngIf="!(artist.firstName || artist.lastName)">{{ artist.knownAs }} </span>

          <span>{{ artist.lastName }} </span>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [collectionSize]="data?.numberOfResults"
    [(page)]="page"
    [maxSize]="5"
    [boundaryLinks]="true"
    [pageSize]="pageSize"
    class="d-flex justify-content-center"
    (pageChange)="onPageChange(page)"
  ></ngb-pagination>
  <hr *ngIf="eventsOfClickedArtist&&!this.data?.numberOfResults" />

  <app-event-search-result
    *ngIf="eventsOfClickedArtist"
    (nextRequestedPage)="handleEventPageEmit($event)"
    [pageSize]="eventPageSize"
    [artist]="clickedArtist"
    [events]="eventsOfClickedArtist"
  ></app-event-search-result>
</div>
