<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Validation Errors: </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success: </strong> Succesfully created {{this.createdAccount}} account <strong>{{this.successUser}}</strong>!
  <button type="button" (click)="vanishSuccess()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2">Create a new account for Ticketline 4.0</h4>
      </header>
      <article class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="openModal()">

          <div class="row">
            <div class="col form-group">
              <label>First name </label>
              <input [maxlength]="100" type="text" class="form-control" formControlName="firstName" placeholder="">

              <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="error">
                <small class="form-text text-warning" *ngIf="f.firstName.errors.required">A first name is required!
                </small>
              </div>
            </div>

            <div class="col form-group">
              <label>Last name</label>
              <input [maxlength]="100" type="text" class="form-control" formControlName="lastName" placeholder=" ">
              <div *ngIf="(f.lastName.touched|| submitted)  && f.lastName.errors" class="error">
                <small class="form-text text-warning" *ngIf="f.lastName.errors.required">A last name is required!
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p> Gender </p>
            <div class="form-check form-check-inline" *ngFor="let gender of genders">
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" formControlName="gender"
                  [value]=gender.value>
                <span class="form-check-label"> {{gender.description}} </span>
              </label>
            </div>
            <div *ngIf="submitted && f.gender?.errors" class="error">
              <small class="form-text text-warning" *ngIf="f.gender.errors.required">A gender is required!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label>Email address</label>
            <input [maxlength]="100" type="email" class="form-control" formControlName="email" placeholder="">
            <div *ngIf="(f.email.touched || submitted)  && f.email.errors" class="error">
              <small class="form-text text-warning" *ngIf="f.email.errors.required">An email is required!
              </small>
              <small class="form-text text-warning" *ngIf="f.email.errors.email">Not a valid mail address!
              </small>
            </div>
          </div>

          <div class="m-3">
            <h5>Postal Address</h5>
          </div>


          <div formGroupName="address">
            <div class="row">
              <div class="form-group col-8">
                <label for="street">Street</label>
                <input [maxlength]="100" type="text" id="street" value="street" formControlName="street"
                  class="form-control">
                <div *ngIf="registrationForm.get('address.street').touched || submitted" class="error">
                  <small class="form-text text-warning"
                    *ngIf="registrationForm.get('address.street').errors?.required">Street must be filled in!
                  </small>
                </div>
              </div>


              <div class="col form-group">
                <label for="houseNumber">House No.</label>
                <input [maxlength]="40" type="text" id="houseNumber" value="houseNumber" formControlName="houseNumber"
                  class="form-control">
                <div *ngIf="registrationForm.get('address.houseNumber').touched || submitted" class="error">
                  <small class="form-text text-warning"
                    *ngIf="registrationForm.get('address.houseNumber').errors?.required">House Number must be filled in!
                  </small>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="form-group col">
                <label for="zipCode">Zip Code</label>
                <input [maxlength]="16" type="text" id="zipCode" value="zipCode" formControlName="zipCode"
                  class="form-control">
                <div *ngIf="registrationForm.get('address.zipCode').touched || submitted" class="error">
                  <small class="form-text text-warning"
                    *ngIf="registrationForm.get('address.zipCode').errors?.required">Zip Code must be filled in!
                  </small>
                </div>
              </div>
              <div class="form-group col-7">
                <label for="city">City</label>
                <input [maxlength]="100" type="text" id="city" value="city" formControlName="city" class="form-control">
                <div *ngIf="registrationForm.get('address.city').touched || submitted" class="error">
                  <small class="form-text text-warning"
                    *ngIf="registrationForm.get('address.city').errors?.required">City must be filled in!
                  </small>
                </div>
              </div>


            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input [maxlength]="100" type="text" id="country" value="country" formControlName="country"
                class="form-control">
              <div *ngIf="registrationForm.get('address.country').touched || submitted" class="error">
                <small class="form-text text-warning"
                  *ngIf="registrationForm.get('address.country').errors?.required">Country must be filled in!
                </small>
              </div>
            </div>

          </div>
          <div class="m-3">
            <h5>Admin rights <fa-icon [icon]="faUserShield"></fa-icon>
            </h5>
          </div>

          <div class="form-check form-switch">

            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="isAdmin">
            <label class="form-check-label" for="flexSwitchCheckDefault"> Should the account have admin rights?</label>
          </div>
          <hr>

          <button type="button" class="btn btn-outline-primary" routerLink="/users" (click)="clearForm()"> Go back to
            User Management
          </button>
          <button type="submit" class="btn btn-primary btn-block" (click)="openModal()">Create new account</button>

          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
            style="background: rgba(0,0,0, .5); padding-top: 12%">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5>Are you sure you want to create a new {{this.userOrAdmin}}?</h5>
                </div>
                <div *ngIf="!this.authenticated">
                  <div class="form-group alert alert-warning">
                    <div>The created account will be sent a password reset email!</div>
                  </div>
                  <form class="form-group form-control" style="margin: 0px" [formGroup]="passwordForm"
                    (ngSubmit)="confirmUser()">
                    <label for="password">Please enter your current password to confirm</label>
                    <input [maxlength]="64" type="password" name="password" formControlName="password"
                      class="form-control" id="password">
                    <div *ngIf="p.password.touched && p.password.errors" class="error">
                      <small class="form-text text-warning" *ngIf="p.password.errors.required">Your password
                        is
                        required!
                      </small>
                      <small class="form-text text-warning" *ngIf="p.password.errors.minlength">Your password must be at
                        least 8
                        characters long!
                      </small>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="confirmUser(); onCloseHandled()"
                    [disabled]="!this.passwordForm.valid && !this.authenticated">Confirm</button>
                  <button type="button" class="btn btn-secondary"
                    (click)="onCloseHandled(); this.passwordForm.reset()">Close</button>
                </div>
              </div>
            </div>
          </div>

        </form>

      </article>
    </div>
  </div>

</div>