<div class="w-75 mx-auto">

  <h1 class="mb-3">Create Article</h1>

  <form [formGroup]="articleForm">
    <div class="row">

      <div class="mb-3">
        <small for="validationDefault01" class="form-label text-muted"> Title* </small>
        <input type="text" class="form-control" id="validationDefault01" formControlName="title">
        <div *ngIf="articleForm.get('title').touched || submitted" class="error">
          <small
              class="form-text text-warning"
              *ngIf="articleForm.get('title').errors?.required"
          >Title must be filled in!
          </small>
        </div>
      </div>

      <div class="mb-3">
        <small for="validationDefault02" class="form-label text-muted"> Summary*</small>
        <textarea type="text" class="form-control" id="validationDefault02"
                  formControlName="summary"></textarea>
        <div *ngIf="articleForm.get('summary').touched || submitted" class="error">
          <small
              class="form-text text-warning"
              *ngIf="articleForm.get('summary').errors?.required"
          >Summary must be filled in!
          </small>
        </div>
      </div>

      <div class="mb-3">
        <small for="validationDefault03" class="form-label text-muted"> Text* </small>
        <textarea type="text" class="form-control" id="validationDefault03"
                  formControlName="text"></textarea>
        <div *ngIf="articleForm.get('text').touched || submitted" class="error">
          <small
              class="form-text text-warning"
              *ngIf="articleForm.get('text').errors?.required"
          >Text must be filled in!
          </small>
        </div>
      </div>

      <div>
        <div class="mb-3">
          <input type="file" #myInput multiple accept="image/png, image/jpeg" class="form-control"
                 (change)="onFileChange($event)"/>

          <div class="row">
            <div class="col">
              <small class="form-text text-muted"
                     for="inputGroupFile04">Accepted Formats: jpg, jpeg, png</small>
            </div>
            <div class="col" *ngIf="this.imgChangeEvt">
              <button class="btn btn-secondary float-end mt-3"
                      (click)="helpUpload(); reset()"
                      [disabled]="fileToReturn === null">Add image
              </button>
            </div>

          </div>
          <div class="col-md-4">
          </div>
          <div [hidden]="pressed">
            <div class="col-md-8">
              <image-cropper
                  [imageChangedEvent]="imgChangeEvt"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="7 / 5"
                  format="png"
                  (imageCropped)="cropImg($event)"
                  (imageLoaded)="imgLoad()"
                  (cropperReady)="initCropper()"
                  (loadImageFailed)="imgFailed()">
              </image-cropper>
            </div>

            <h6 *ngIf="this.cropImgPreview">Image Preview</h6>
            <img [src]="cropImgPreview" class="crop-preview"/>
          </div>
        </div>
        <div>
          <div style="margin-bottom: 0; margin-top: 2%">
            <button
                [disabled]="!articleForm.valid && (articleForm.get('title').touched && articleForm.get('text').touched && articleForm.get('summary').touched) || (submitted && (articleForm.get('title').value === '' || articleForm.get('text').value === ''  || articleForm.get('summary').value === '' ))  "
                class="btn btn-primary"
                (click)="this.fileToReturn !== null && this.articleForm.valid ? openModal() : createArticle()">
              Create Article
            </button>
          </div>
        </div>


      </div>

    </div>

  </form>

  <h4 [hidden]="this.previews.length === 0">Added images</h4>
  <div class="form-group" style="margin: 3% 0">
    <div class="row">
      <div class="col-3" [hidden]="this.previews.length === 0"
           *ngFor='let preview of previews; index as i'>
        <button type="button" class="btn-close" (click)="removeImage(i)" aria-label="Close"
                style="top: 0"></button>
        <img [src]="preview" class="preview imgStyle" alt="preview">


      </div>
    </div>
  </div>

</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
     style="background: rgba(0,0,0, .5); padding-top: 12%">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: justify;">You did not upload the last selected image. Do you still
          want to continue?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="createArticle()">Continue anyway
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="onCloseHandled();">Cancel
        </button>
      </div>
    </div>
  </div>
</div>







