<div class="container mt-3" *ngIf="errorImage" >
  <div class="alert alert-danger" role="alert">
    <h4>Error!</h4>{{ errorImage }}

    <p></p>
    <button type="button" class="btn-close" (click)="vanishError()" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
</div>

<app-error-alert [error]="error"></app-error-alert>

<div class="container-md" style="max-width: 1000px">

  <h2 style="margin-top: 5%">Create Article</h2>

  <form [formGroup]="articleForm" style="margin-top: 4%">
    <div class="row">

      <div class="form-group">
        <small for="validationDefault01" class="form-label text-muted"> Title* </small>
        <input type="text" class="form-control" id="validationDefault01" formControlName="title">
      </div>
      <div *ngIf="articleForm.get('title').touched || submitted" class="error">
        <small
            class="form-text text-warning"
            *ngIf="articleForm.get('title').errors?.required"
        >Title must be filled in!
        </small>
      </div>
      <div class="form-group">
        <small for="validationDefault02" class="form-label text-muted"> Summary*</small>
        <textarea type="text" class="form-control" id="validationDefault02"
                  formControlName="summary"></textarea>
      </div>
      <div *ngIf="articleForm.get('summary').touched || submitted" class="error">
        <small
            class="form-text text-warning"
            *ngIf="articleForm.get('summary').errors?.required"
        >Summary must be filled in!
        </small>
      </div>
      <div class="form-group">
        <small for="validationDefault03" class="form-label text-muted"> Text* </small>
        <textarea type="text" class="form-control" id="validationDefault03"
                  formControlName="text"></textarea>
      </div>
      <div *ngIf="articleForm.get('text').touched || submitted" class="error">
        <small
            class="form-text text-warning"
            *ngIf="articleForm.get('text').errors?.required"
        >Text must be filled in!
        </small>
      </div>


      <div>
        <div class="form-group" style="margin: 3% auto 0 auto; position: relative">
          <input type="file" #myInput multiple accept="image/png, image/jpeg" class="form-control"
                 (change)="onFileChange($event)"/>
          <div class="row">
            <div class="col">
              <small style="margin-top: 0; padding: 0" class="form-text text-black"
                     for="inputGroupFile04">Accepted Formats: jpg, jpeg, png</small>
            </div>
            <div class="col">
              <button [hidden]="!this.imgChangeEvt" class="btn btn-secondary"
                      style="float: right; margin-top: 3%" (click)="helpUpload(); reset()"
                      [disabled]="fileToReturn === null">Add image
              </button>
            </div>

          </div>
          <div class="col-md-4">
          </div>
          <div [hidden]="pressed">
            <div class="col-md-8">
              <image-cropper
                  [imageChangedEvent]="imgChangeEvt"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="7 / 5"
                  format="png"
                  (imageCropped)="cropImg($event)"
                  (imageLoaded)="imgLoad()"
                  (cropperReady)="initCropper()"
                  (loadImageFailed)="imgFailed()">
              </image-cropper>
            </div>

            <h6 *ngIf="this.cropImgPreview">Image Preview</h6>
            <img [src]="cropImgPreview" class="crop-preview"/>
          </div>
        </div>
        <div>
          <div style="margin-bottom: 0; margin-top: 2%">
            <button
                [disabled]="!articleForm.valid && (articleForm.get('title').touched && articleForm.get('text').touched && articleForm.get('summary').touched) || (submitted && (articleForm.get('title').value === '' || articleForm.get('text').value === ''  || articleForm.get('summary').value === '' ))  "
                class="btn btn-primary"
                (click)="this.fileToReturn !== null && this.articleForm.valid ? openModal() : createArticle()">
              Create Article
            </button>
          </div>
          <small style="margin-top: 0; padding: 0" class="form-text text-black"
                 for="inputGroupFile04">Fields with * are mandatory</small>
        </div>


      </div>

    </div>

  </form>

  <h4 [hidden]="this.previews.length === 0">Added images</h4>
  <div class="form-group" style="margin: 3% 0">
    <div class="row">
      <div class="col-3" [hidden]="this.previews.length === 0"
           *ngFor='let preview of previews; index as i'>
        <button type="button" class="btn-close" (click)="removeImage(i)" aria-label="Close"
                style="top: 0"></button>
        <img [src]="preview" class="preview imgStyle" alt="preview">


      </div>
    </div>
  </div>

</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
     style="background: rgba(0,0,0, .5); padding-top: 12%">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: justify;">You did not upload the last selected image. Do you still
          want to continue?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="createArticle()">Continue anyway
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="onCloseHandled();">Cancel
        </button>
      </div>
    </div>
  </div>
</div>







