<div *ngIf="page == 1">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let sector of sectors; index as index">
      <ng-template ngbPanelTitle>
        <div style="color: {{ sector.color }}">
          <span *ngIf="sector.standingSector">Standing&nbsp;</span>
          <span>Sector {{ index }}</span>
          <span *ngIf="sector.description">: {{ sector.description }}</span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="form-margin">
          <input type="text" class="form-control col" [(ngModel)]="sector.description" />
          <div class="form-group d-flex">
            <input type="color" class="form-control" [(ngModel)]="sector.color" />
          </div>
          <div class="d-flex">
            <span class="input-group-text">Number of seats</span>
            <input type="number" class="form-control" [(ngModel)]="sector.seatCount" />
          </div>
          <div><input type="checkbox" [(ngModel)]="sector.standingSector" /> standing sector</div>
          <button class="btn-danger col-auto" (click)="removeSector(index)">Remove sector</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <button class="btn btn-primary" style="width: 100%" (click)="addSector()">Add Sector</button>
  <button class="btn btn-success mr-0" (click)="nextPage()">Next Page</button>
</div>
<div *ngIf="page == 2" class="d-flex container-fluid">
  <div style="width: 20%; overflow: auto">
    <h3>Tools</h3>
    <div>
      <div>
        <button class="btn btn-primary">Select all</button>
        <button class="btn btn-danger">Remove selection</button>
      </div>
      <div class="my-1">
        <select>
          <option>HE</option>
          <option>DU</option>
        </select>
        <button class="btn btn-primary">Select sector</button>
      </div>
    </div>
    <h3>Info</h3>
  </div>
  <app-seating-plan-editor [sectors]="sectors"></app-seating-plan-editor>
</div>
