<div class="container mt-3" *ngIf="success">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <strong>Succesfully</strong> unlocked the user!
    <p></p>
    <button type="button" class="btn-close" (click)="vanishSuccess()" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
</div>
<div id="around">
<h1 class="mainHeader">Locked Users</h1>
<table class="table table-striped" style="text-align:center">
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.email}}</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td><button type="button" (click)="unlockUser(user.userId)" class="btn btn-dark" ><i class="fa-solid fa-lock"></i>Unlock {{user.firstName}}</button>
    </td>
  </tr>
  </tbody>
</table>

</div>

