/* Button

Tags: Primary
*/

/* Auto layout */
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12px;

  position: absolute;
  width: 101px;
  height: 32px;
  right: 9px;
  top: 8px;

}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid black;
}

#around{
  width: 70%;
  margin: 0 auto;
}

.mainHeader{
  margin-top: 5%;
  margin-bottom: 5%;
  font-style: normal;
  line-height: 26px;
}