.form-group { margin-bottom: 10px;}
.form-override {
    appearance: auto !important;
  }
.form-margin { margin-left: 25%; margin-right: 25%;}

.h2 {margin-top: 40px; margin-bottom: 15px;}

.form-control.is-valid {
 
  background-repeat: no-repeat;
  background-position: center right calc(1.2rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-invalid {
 
  background-repeat: no-repeat;
  background-position: center right calc(1.2rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}