<h1 class="mb-3" *ngIf="!this.empty">News</h1>

<div id="cards_landscape_wrap-2" class="mb-5">
  <div class="row">
    <div class="col-xs-10 col-s col-sm-6 col-md-6 col-lg-6 col-xl-3"
         *ngFor="let article of articles">
      <a [routerLink]="['/news/overview', article.articleId]">
        <div class="card-flyer mt-0">
          <div class="text-box">
            <div class="image-box">
              <img [lazyLoad]="articleImages[article.articleId]" [defaultImage]="defaultImage"
                   class="img-fluid rounded-start card-img-top mx-auto d-block" alt="...">
            </div>
            <div class="text-container">
              <h6 class="text-break"> {{article.title}}</h6>
              <p style="padding-top: 3%;"
                 class="card-text with-overflow">{{article?.summary}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted" style="font-size: smaller">Published
                on {{article.creationDate | date: 'EEEE, d LLL YYYY HH:mm'}}</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-top-events></app-top-events>


