<div class="d-flex mb-3 align-items-center">
  <h1>Manage Locations</h1>
  <div class="ms-auto">
    <button class="btn btn-primary px-4" routerLink="/locations/create">
      <fa-icon [icon]="plus"></fa-icon>
      Add location
    </button>

  </div>
</div>


<div>
  <table class="table table-striped  table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Postal-code</th>
      <th scope="col">City</th>
      <th scope="col">Street</th>
      <th scope="col">House number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let location of locations" (click)="navigateToLocation(location)"
        style="cursor: pointer;">
      <td>{{ location.name }}</td>
      <td>{{ location.address.zipCode }}</td>
      <td>{{ location.address.city }}</td>
      <td>{{ location.address.street }}</td>
      <td>{{ location.address.houseNumber }}</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="this.numberOfResults" [(page)]="page" [maxSize]="5"
                  [boundaryLinks]="true"
                  [pageSize]="pageSize" class="d-flex justify-content-center"
                  (pageChange)="onPageChange(page)"></ngb-pagination>

</div>

