<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2">Edit account details <button class="btn btn-secondary float-end"
            (click)="this.getUserInfo()">
            <fa-icon style="padding-left: 0; font-size: 18px;" [icon]="faArrowsRotate">
            </fa-icon>
          </button></h4>
      </header>
      <article class="card-body">
        <form [formGroup]="editForm">

          <div class="row">
            <div class="col form-group">
              <label>First name </label>
              <input [maxlength]="100" type="text" class="form-control" formControlName="firstName"
                placeholder="{{this.user.firstName}}">

              <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="error">
                <small class="form-text text-warning" *ngIf="f.firstName.errors.required">Your first name is required!
                </small>
              </div>
            </div>

            <div class="col form-group">
              <label>Last name</label>
              <input [maxlength]="100" type="text" class="form-control" formControlName="lastName"
                placeholder="{{this.user.lastName}}">
              <div *ngIf="(f.lastName.touched|| submitted)  && f.lastName.errors" class="error">
                <small class="form-text text-warning" *ngIf="f.lastName.errors.required">Your last name is required!
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p> Gender </p>
            <div class="form-check form-check-inline" *ngFor="let gender of genders">
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" formControlName="gender" [value]=gender.value
                  placeholder="{{this.user.gender}}">
                <span class="form-check-label"> {{gender.description}} </span>
              </label>
            </div>
            <div *ngIf="submitted && f.gender?.errors" class="error">
              <small class="form-text text-warning" *ngIf="f.gender.errors.required">Your gender is required!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label>Email address</label>
            <input [maxlength]="100" type="email" class="form-control" formControlName="email"
              placeholder="{{this.user.email}}">
            <div *ngIf="(f.email.touched || submitted)  && f.email.errors" class="error">
              <small class="form-text text-warning" *ngIf="f.email.errors.required">Your email is required!
              </small>
              <small class="form-text text-warning" *ngIf="f.email.errors.email">Not a valid mail address!
              </small>
            </div>
          </div>

          <div class="m-3">
            <h5>Postal Address</h5>
          </div>


          <div formGroupName="address">
            <div class="row">
              <div class="form-group col-8">
                <label for="street">Street</label>
                <input [maxlength]="100" type="text" id="street" value="street" formControlName="street"
                  class="form-control" placeholder="{{this.user.address.street}}">
                <div *ngIf="editForm.get('address.street').touched || submitted" class="error">
                  <small class="form-text text-warning" *ngIf="editForm.get('address.street').errors?.required">Street
                    must be filled in!
                  </small>
                </div>
              </div>


              <div class="col form-group">
                <label for="houseNumber">House No.</label>
                <input [maxlength]="40" type="text" id="houseNumber" value="houseNumber" formControlName="houseNumber"
                  class="form-control" placeholder="{{this.user.address.houseNumber}}">
                <div *ngIf="editForm.get('address.houseNumber').touched || submitted" class="error">
                  <small class="form-text text-warning"
                    *ngIf="editForm.get('address.houseNumber').errors?.required">House Number must be filled in!
                  </small>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="form-group col">
                <label for="zipCode">Zip Code</label>
                <input [maxlength]="16" type="text" id="zipCode" value="zipCode" formControlName="zipCode"
                  class="form-control" placeholder="{{this.user.address.zipCode}}">
                <div *ngIf="editForm.get('address.zipCode').touched || submitted" class="error">
                  <small class="form-text text-warning" *ngIf="editForm.get('address.zipCode').errors?.required">Zip
                    Code must be filled in!
                  </small>
                </div>
              </div>
              <div class="form-group col-7">
                <label for="city">City</label>
                <input [maxlength]="100" type="text" id="city" value="city" formControlName="city" class="form-control"
                  placeholder="{{this.user.address.city}}">
                <div *ngIf="editForm.get('address.city').touched || submitted" class="error">
                  <small class="form-text text-warning" *ngIf="editForm.get('address.city').errors?.required">City must
                    be filled in!
                  </small>
                </div>
              </div>


            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input [maxlength]="100" type="text" id="country" value="country" formControlName="country"
                class="form-control" placeholder="{{this.user.address.country}}">
              <div *ngIf="editForm.get('address.country').touched || submitted" class="error">
                <small class="form-text text-warning" *ngIf="editForm.get('address.country').errors?.required">Country
                  must be filled in!
                </small>
              </div>
            </div>

          </div>
          <hr>

          <div>
            <button type="button" class="btn btn-outline-primary" routerLink="/" (click)="clearForm()"> Cancel
            </button>
            <button type="submit" class="btn btn-primary form-group" style="margin-left: 5px;"
              (click)="openModal(); setAction('edit')" [disabled]="!this.editForm.valid">Submit</button>
            <button type="delete" class="btn btn-secondary form-group" style="margin-left: 5px;"
              (click)="openModal(); setAction('changePassword')">Change
              Password</button>
            <button type="delete" class="btn btn-danger form-group float-end" style="margin-left: 5px;"
              (click)="openModal(); setAction('delete')" *ngIf="this.isUser()">Delete
              Profile</button>
          </div>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
            style="background: rgba(0,0,0, .5); padding-top: 12%">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 *ngIf="this.action !== 'changePassword'">Are you sure you want to {{this.action}} your account?
                  </h5>
                  <h5 *ngIf="this.action === 'changePassword'">Are you sure you want to change your password?</h5>
                </div>
                <div class="form-group alert alert-danger" *ngIf="this.action==='delete'">
                  <h5><strong>WARNING:</strong></h5>
                  <div>Because all your personal data gets deleted from our system and your purchased tickets still stay
                    valid,
                    please make sure to download all your tickets before deleting your account.</div>
                  <div>
                    <strong>There is no way to retrieve tickets after deletion.</strong>
                  </div>
                </div>
                <div class="form-group alert alert-danger" *ngIf="this.action==='changePassword'">
                  <div>You will be logged out and sent an email to change your password. Your old password will still be
                    valid until you change it.</div>
                </div>
                <form class="form-group form-control" style="margin: 0px" [formGroup]="passwordForm"
                  (ngSubmit)="confirmUser()">
                  <label for="password">Please enter your current password to confirm</label>
                  <input [maxlength]="64" type="password" name="password" formControlName="password"
                    class="form-control" id="password">
                  <div *ngIf="p.password.touched && p.password.errors" class="error">
                    <small class="form-text text-warning" *ngIf="p.password.errors.required">Your password
                      is
                      required!
                    </small>
                    <small class="form-text text-warning" *ngIf="p.password.errors.minlength">Your password must be at
                      least 8
                      characters long!
                    </small>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="confirmUser(); onCloseHandled()"
                    [disabled]="!this.passwordForm.valid">Confirm</button>
                  <button type="button" class="btn btn-secondary"
                    (click)="onCloseHandled(); this.passwordForm.reset()">Close</button>
                </div>
              </div>
            </div>
          </div>

        </form>

      </article>
    </div>
  </div>

</div>