<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<span class="anchor" id="formLogin"></span>
<div class="card w-50 mx-auto">
  <div class="card-header">
    <h3 class="mb-0">Login</h3>
  </div>

  <div class="card-body">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()">

      <div class="form-group mb-3">
        <label for="inputUsername" class="form-label">Email address</label>
        <input type="text" name="username" formControlName="username" class="form-control"
               id="inputUsername"
               aria-describedby="usernameHelp" placeholder="Enter email address">
        <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
          <small class="form-text text-danger"
                 *ngIf="loginForm.controls.username.errors.required">Your username is
            required!
          </small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input (keydown.enter)="loginUser()" type="password" name="password"
               formControlName="password" class="form-control"
               id="password"
               placeholder="Password"
               aria-describedby="password-help">
        <div class="form-text" id="password-help">
          <a routerLink="/passwordReset">Forgot your password?</a>
        </div>
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
          <small class="form-text text-danger"
                 *ngIf="loginForm.controls.password.errors.required">Your password
            is
            required!
          </small>
          <small class="form-text text-danger"
                 *ngIf="loginForm.controls.password.errors.minlength">Your password
            must be at least 8 characters long!
          </small>
        </div>
      </div>
    </form>
    <div class="float-end">
      <button type="button" routerLink="/registration" class="btn btn-outline-primary me-1">
        Sign Up
      </button>
      <button type="button" (click)="loginUser()" class="btn btn-primary">Login
      </button>
    </div>
  </div>
</div>


