<div class="container" style="margin-top: 17%">
  <div class="row">

    <div class="col">
      <div class="bg-image">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp"
            class="img-fluid"
            alt="Sample"
        />
        <div *ngIf="article?.images.length === 0" class="mask"
             style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p class="text-white mb-0">{{article?.summary}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <h3>{{article?.title}}</h3>
      <h5 *ngIf="article?.images.length === 0">{{article?.summary}}</h5>
      <p>{{article?.text}}</p>
      <p class="card-text"><small class="text-muted">Created
        on {{article?.creationDate | date: 'EEEE, d LLLL YYYY HH:mm'}}</small></p>
    </div>
  </div>
</div>
<app-error-alert style="margin-top: 3%" [error]="error"></app-error-alert>