.fullDimensions{
    width: 100%;
    height: 100%;
}

.fullHeigth{
    height: 100vw;
}

.fullWidth{
    width: 100%;
}

.w-33 {
    width: 33%;
    max-width: 33%;
}

.screenBounded {
    overflow: auto;
    width: 66%;
    max-width: 66%;
    max-height: 70vh;
}