<div class="row">
  <div class="col">
    <h1>Top 10 Events</h1>
  </div>
  <div class="col-3 align-items-center">
    <input type="month" class="form-control" [ngModel]="month | date:'yyyy-MM'"
           (ngModelChange)="month = $event; reloadEvents()">
  </div>
  <div class="col-3 align-items-center">
    <select [(ngModel)]="category" (ngModelChange)="reloadEvents()" class=" form-select float-end">
      <option [ngValue]="null">All Categories</option>
      <option *ngFor="let category1 of categories"
              [value]="category1|uppercase">{{category1}}</option>
    </select>
  </div>
</div>

<div>
  <table class="table table-striped align-middle table-hover">
    <thead>
    <tr>
      <th scope="col"> #</th>
      <th scope="col"> Event Name</th>
      <th scope="col"> Duration</th>
      <th scope="col"> Category</th>
      <th scope="col" class="text-center"> Tickets Sold</th>
      <th scope="col"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of topEvents; let i = index">
      <td class="text-primary"><strong> {{ i + 1 }} </strong></td>
      <td> {{ event.name }} </td>
      <td> {{ this.secondsToHms(event.duration) }} </td>
      <td> {{ event.category}} </td>
      <td class="text-center"> {{ event.ticketsSold }}</td>
      <td>
        <button class="btn btn-sm btn-primary" routerLink="/events/{{event.eventId}}/shows"
                id="{{'showBtn'+i}}">
          Get Shows
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
