
<form [formGroup]="showForm">
  <div class="row">
    <div class="form-group col-md-6">
      <small for="inputDate" class="form-label text-muted">Date</small>
      <input id="inputDate" class="form-control form-override" formControlName="date" type="date" placeholder="yyyy-mm-dd">

    </div>
    <div class=" form-group col-md-6 ">
      <small for="inputTime" class="form-label text-muted" >Time</small>
      <input *ngIf="!this.date.value" disabled class="form-control form-override col" type="time" min="00:00" max="23:30" step="900" formControlName="time">
      <input *ngIf="this.date.value" class="form-control form-override col" type="time" min="00:00" max="23:30" step="900" formControlName="time">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <small for="inputLocation" class="form-label text-muted">Location Name</small>
      <input class="form-control" type="text" formControlName="location" [ngbTypeahead]="locationSearch"
             #instance="ngbTypeahead" [resultFormatter]="locationFormatter" [inputFormatter]="locationFormatter"
      />

    </div>
    <div class="form-group col-md-6">
      <small for="inputSeatingPlan" class="form-label text-muted">Room/Seating Plan</small>
      <select *ngIf="!this.location.value || !this.location.value.locationId" class="form-control form-override" style="background-position: 92%"
              disabled></select>

      <select *ngIf="this.location.value && this.location.value.locationId" id="inputSeatingPlan" class="form-control form-override"
              formControlName="seatingPlan" style="background-position: 92%">
        <option hidden="true">Seating Plan</option>
        <option *ngFor="let seatingPlan of seatingPlans" [ngValue]="seatingPlan">{{seatingPlan.name}}
        </option>
      </select>
    </div>
    <div class="form-group col-1 mb-1 ">
      <small for="price" class="form-label text-muted"> Price limit </small>
      <input class="form-control " type="number" id="price" formControlName="price" >
    </div>

    </div>

  <button (click)="onSearch()" class="btn btn-primary" style="margin-top: 1%;">Search</button>
  <button *ngIf="currentlyActiveFilters?.length===0" type="button"
          style="margin-left: 1%; margin-top: 1%;" class="btn btn-secondary" (click)="resetAll()">
    Clear all
  </button>
  <div class="m-2" *ngIf="currentlyActiveFilters?.length>0">
    <strong> Active Filters: </strong>
    <button type="button" class="btn btn-secondary m-1" (click)="resetFilterOnField(filter)" *ngFor="let filter of currentlyActiveFilters">{{filter}} &times;</button>
    <button type="button"
            style="margin-left: 1%" class="btn btn-secondary" (click)="resetAll()">
      Clear all
    </button>
  </div>
</form>

<hr>
<app-show-search-result *ngIf="shows"  (nextRequestedPage)="handleEventPageEmit($event)" [shows]="shows" [pageSize]="pageSize"  ></app-show-search-result>