<div class="container mt-5">

  <div class="main-body">
    <div class="row ">

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <strong> {{user.firstName}} {{user.lastName}}</strong>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.address.street}} {{user.address.houseNumber}}
              </div>
              <div class="col-sm-3">
                <h6 class="mb-0"></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.address.zipCode}} {{user.address.city}}
              </div>
              <div class="col-sm-3">
                <h6 class="mb-0"></h6>
              </div>
              <div class="col-sm-9 mb-1 text-secondary">
                {{user.address.country}}
              </div>
              <hr>
              <div class="col-sm-3">
                <h6 class="mb-0">Account locked?</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.lockedAccount === false ? "No" : "Yes"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="list-group">

          <button (click)="passwordReset(user.userId)" class="list-group-item" type="button">Reset
            Password
            <fa-icon class="ms-2" [icon]="faRotateLeft"></fa-icon>
          </button>
          <div *ngIf="user.lockedAccount;then locked else notLocked"></div>


          <ng-template #locked>
            <button (click)="manageLockedStatus(user.userId, user.email, false)"
                    class="list-group-item"
                    type="button">Unlock User
              <fa-icon class="ms-2" [icon]="faLockOpen"></fa-icon>
            </button>
          </ng-template>
          <ng-template #notLocked>
            <button class="list-group-item" type="button"
                    (click)="manageLockedStatus(user.userId, user.email, true)">Lock User
              <fa-icon class="ms-2" [icon]="faLockClose"></fa-icon>
            </button>
          </ng-template>

        </div>


      </div>
    </div>
  </div>
</div>