<div *ngIf="submitted===false">
  <h2  class="m-5 text-center">Forgot your password? <br> No problem, just enter your
    email address <br>and you will receive a link to reset it shortly.</h2>
            <form class="form text-center" #f="ngForm"  (ngSubmit)="sendRequest(f.value)">
              <div class="form-group ">
                <input class="form-control w-50 offset-3"  #email="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required  type="email" ngModel maxLength="100" name="email"  id="email" placeholder="Enter your email address here">

                <small class="form-text text-warning"
                       *ngIf="email.errors&& email.touched">Please enter a valid email address.
                </small>
              </div>


              <button type="button" [disabled]="!f.valid" (click)="sendRequest(f.value)" class="btn btn-success   m-2 ps-4 pe-4">Send
              </button>
            </form>
</div>
  <div class="container mt-3" *ngIf="successMessage">
    <div class="alert alert-success" role="alert">
      <h4>Success!</h4> {{ successMessage }}

      <p></p>
      <button routerLink="/login" type="button" class="btn btn-secondary" data-bs-dismiss="alert"
             >Go to Login</button>
    </div>
  </div>
  <div class="container mt-3" *ngIf="error">
    <div class="alert alert-danger" role="alert">
      <h4>Error!</h4> {{ error }}

      <p></p>
      <button type="button" class="btn-close" (click)="vanishError()" data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  </div>